*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.goods{
    width: 1900px;
    height: 7500px;
    background-color: #F5F5F5;
}
.goods .img4{
    width: 1626px;
    display: block;
    margin-left: 185px;
    padding-top: 54px;
    float: top ;
}
.top{
    width: 1615px;
    height: 100px;
    background-color: #F5F5F5;
    margin-left: 185px;
    float: left;
}
.top .left{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 20px;
    color: black;
    float: left;
}
.top .span1{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 40px;
    font-size: 15px;
    color: black;
    float: right;
}
.top .span0:hover{
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 40px;
    font-size: 15px;
    color: #FF6700;
    border-bottom:3px solid  #FF6700;
    padding-bottom: 5px;
    cursor: pointer;
}
.pro{
    width:1626px;
    height:769px;
    margin-left: 185px;
    background-color: yellow;
    float: left;
}
.pro1{
    width:1626px;
    height:375px;
    margin-left: 185px;
    background-color: yellow;
    float: left;
}
.pro2{
    width:1625px;
    height:520px;
    margin-left: 185px;
    background-color: yellow;
    float: left;
}
.pro1 li{
    display: block;
}
.pro1 li.product0{
    width:310px;
    height: 769px;
    background-color: yellowgreen;
    float: left;
    border-right: 19px solid #F5F5F5 ;
}
.pro1 li.product1{
    width:310px;
    height: 375px;
    background-color: yellowgreen;
    float: left;
    border-right: 19px solid #F5F5F5 ;
    border-bottom: 19px solid #F5F5F5;
}
.pro1 li.product2{
    width:310px;
    height: 375px;
    background-color: yellowgreen;
    border-bottom: 19px solid #F5F5F5;
    float: left;
}
.pro1 li.product3{
    width:310px;
    height: 375px;
    background-color: yellowgreen;
    float: left;
    border-right: 19px solid #F5F5F5 ;
}
.pro1 li.product4{
    width:310px;
    height: 375px;
    background-color: yellowgreen;
    float: left;
}

.pro li{
    display: block;
}
.pro li.product0{
    width:310px;
    height: 769px;
    background-color: yellowgreen;
    float: left;
    border-right: 19px solid #F5F5F5 ;
}
.pro li.product1{
    width:310px;
    height: 375px;
    background-color: yellowgreen;
    float: left;
    border-right: 19px solid #F5F5F5 ;
    border-bottom: 19px solid #F5F5F5;
}
.pro li.product2{
    width:310px;
    height: 375px;
    background-color: yellowgreen;
    border-bottom: 19px solid #F5F5F5;
    float: left;
}
.pro li.product3{
    width:310px;
    height: 375px;
    background-color: yellowgreen;
    float: left;
    border-right: 19px solid #F5F5F5 ;
}
.pro li.product4{
    width:310px;
    height: 375px;
    background-color: yellowgreen;
    float: left;
}
.pro .img0{
    width:310px;
    height: 769px;
}
.pro .img1{
    width:310px;
    height: 375px;
}
.pro .box{
    width:310px;
    height: 375px;
    background-color: #FFFFFF;
}
.pro .box1{
    width:310px;
    height: 178px;
    background-color: #FFFFFF;
}
.pro .box2{
    width:310px;
    height: 19px;
    background-color: #F5F5F5;
}
.pro .sbox{
    width: 150px;
    height: 178px;
    background-color: #FFFFFF;
    float: left;
}
.pro .img2{
    width: 200px;
    margin-top: 30px ;
    margin-left: 55px;
}
.pro .img3{
    width: 100px;
    float: right;
    padding-top: 35px;
    padding-right: 30px;
}
.pro span{
    display: block;
}
.pro span.h1{
    color: black;
    font-size: 19px;
    margin-top: 20px;
    text-align: center;
}
.pro span.h2{
    color: #B0B0B0;
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
}
.pro span.h3{
    color: #FF6A00;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}
.pro span.h4{
    color: black;
    font-size: 19px;
    padding-left: 30px;
    padding-top: 40px;
    float: top;
}
.pro span.h5{
    color: #FF6A00;
    font-size: 18px;
    padding-left: 30px;
    padding-top: 20px;
    float: top;
}
.pro span.h6{
    color: black;
    font-size: 24px;    
    padding-left: 30px;
    padding-top: 50px;
    float: top;
}
.pro span.h7{
    color: black;
    font-size: 15px;
    padding-left: 30px;
    padding-top: 10px;
    float: top;
}
.pro span.hh2{
    color: #FF6A00;
    font-size: 18px;
    margin-top: 5px;
    text-align: center;
}
.pro span.hh3{
    color: #B0B0B0;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
}
.pro s{
    color: #B0B0B0;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

.pro1 .img0{
    width:310px;
    height: 769px;
}
.pro1 .img1{
    width:310px;
    height: 375px;
}
.pro1 .box{
    width:310px;
    height: 375px;
    background-color: #FFFFFF;
}
.pro1 .box1{
    width:310px;
    height: 178px;
    background-color: #FFFFFF;
}
.pro1 .box2{
    width:310px;
    height: 19px;
    background-color: #F5F5F5;
}
.pro1 .sbox{
    width: 150px;
    height: 178px;
    background-color: #FFFFFF;
    float: left;
}
.pro1 .img2{
    width: 200px;
    margin-top: 30px ;
    margin-left: 55px;
}
.pro1 .img3{
    width: 100px;
    float: right;
    padding-top: 35px;
    padding-right: 30px;
}
.pro1 span{
    display: block;
}
.pro1 span.h1{
    color: black;
    font-size: 19px;
    margin-top: 20px;
    text-align: center;
}
.pro1 span.h2{
    color: #B0B0B0;
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
}
.pro1 span.h3{
    color: #FF6A00;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}
.pro1 span.h4{
    color: black;
    font-size: 19px;
    padding-left: 30px;
    padding-top: 40px;
    float: top;
}
.pro1 span.h5{
    color: #FF6A00;
    font-size: 18px;
    padding-left: 30px;
    padding-top: 20px;
    float: top;
}
.pro1 span.h6{
    color: black;
    font-size: 24px;    
    padding-left: 30px;
    padding-top: 50px;
    float: top;
}
.pro1 span.h7{
    color: black;
    font-size: 15px;
    padding-left: 30px;
    padding-top: 10px;
    float: top;
}
.pro1 span.hh2{
    color: #FF6A00;
    font-size: 18px;
    margin-top: 5px;
    text-align: center;
}
.pro1 span.hh3{
    color: #B0B0B0;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
}
.pro1 s{
    color: #B0B0B0;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}
.pro2 .product{
    width: 392px;
    height: 520px;
    background-color: #FFFFFF;
}

.pro2 li{
    display: inline-block;
}
.pro2 li.box{
    width: 392px;
    height: 520px;
    float: left;
    background-color: green ;
    border-right: 19px solid #F5F5F5;
}
.pro2 li.box0{
    width: 392px;
    height: 520px;
    float: left;
    background-color: green ;
    border-right: 0px;
}
.pro2 img{
    display: block;
    width: 392px;
    height: 276px;
    float:top;
}
.pro2 p{
    display: inline-block;
}
.pro2 p.box{
    margin: 42px;
}
.pro2 pre.box{
    margin-left: 42px;
    margin-bottom: 20px;
    color: #B0B0B0;
}
.pro2 span.left{
    padding-left: 42px;
}
.pro2 p.p1{
    margin-left: 10px;
    color:#E0E7F0;
}
.pro2 p.p2{
    color: #FF6700;
    font-size: 17px;
}
